.wrap {
  position: relative;
  padding: 5px;
  margin: auto;
}

.wrap a {
  text-decoration: none;
  color: #1a1a1a;
}

.wrap h1 {
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: center;
  font: 300 2.25em "Lato";
  text-transform: uppercase;
}
.wrap h1 strong {
  font-weight: 400;
  color: #ea4c4c;
}

.wrap h2 {
  text-align: center;
  font: 300 0.7em "Lato";
  text-transform: uppercase;
}
.wrap h2 strong {
  font-weight: 400;
}
